@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-Regular.otf);/*src: local('DIN Next LT Pro Regular'), url(../fonts/DINNextLTPro-Regular.otf);*/
}

@font-face {
  font-family: 'DIN';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-Italic.otf);
}

@font-face {
  font-family: 'DIN Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-Light.otf);
}

@font-face {
  font-family: 'DIN Light';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-LightItalic.otf);
}

@font-face {
  font-family: 'DIN UltraLight';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-UltraLight.otf);
}

@font-face {
  font-family: 'DIN UltraLight';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/DINNextLTPro-UltraLightIt.otf);
}

/* DEBUGGING */

/*
.container {
	background: rgba(0,200,0,0.3);
	position: relative;
}

.page {
	background: rgba(0,0,200,0.3);
}*/

/* /DEBUGGING */

/* GENERAL */

* {
  font-family: 'DIN', sans-serif;
}

@media (min-width: 992px) {
  .col-md-offset-1-half {
    margin-left: 4.166666666667%;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .row-fluid [class*="span"].offset-one-half {
    margin-left: 0;
    /* Not when the cells become rows */
  
  }
}

a[name] {
  position: relative;
  top: 1px;
  display: block;
  height: 0;
}

.github-button {
  background-image: url("../img/github-black-compressed.png");
}

.linkedin-button {
  background-image: url("../img/linkedin-black-compressed.png");
}

.twitter-button {
  background-image: url("../img/twitter-black-compressed.png");
}

.behance-button {
  background-image: url("../img/behance-black-compressed.png");
}

.github-button:hover {
  background-image: url("../img/github-blue-compressed.png") !important;
}

.linkedin-button:hover {
  background-image: url("../img/linkedin-blue-compressed.png") !important;
}

.twitter-button:hover {
  background-image: url("../img/twitter-blue-compressed.png") !important;
}

.behance-button:hover {
  background-image: url("../img/behance-blue-compressed.png") !important;
}

.social-button {
  min-height: 28px;
  padding-left: 28px;
  background-repeat: no-repeat;
}

h1 > a,
h2 > a,
.h2 > a,
h3 > a,
h1 > a:active,
h2 > a:active,
.h2 > a:active,
h3 > a:active,
h1 > a:hover,
h2 > a:hover,
.h2 > a:hover,
h3 > a:hover,
h1 > a:visited,
h2 > a:visited,
.h2 > a:visited,
h3 > a:visited {
  font-weight: normal;
  color: #333333;
  text-decoration: none;
}

/* /GENERAL */

/* NAVIGATION */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  -webkit-transition: all ease-in-out 0.1s;
     -moz-transition: all ease-in-out 0.1s;
      -ms-transition: all ease-in-out 0.1s;
       -o-transition: all ease-in-out 0.1s;
          transition: all ease-in-out 0.1s;
}

.navbar .navbar-inner {
  text-align: center;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .brand {
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  width: 179px;
  height: 21px;
  padding: 0;
  margin: 24px 5px 24px 0;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .navbar .brand {
    width: 28px;
    height: 28px;
    margin: 20px 5px 20px 0;
  }
}

.navbar .social {
  position: relative;
  z-index: 1;
  float: right;
  padding: 0;
  margin: 20px 0 20px 5px;
}

.navbar .social .social-button {
  display: inline-block;
  float: right;
  margin-left: 6px;
}

.navbar .nav,
.navbar .nav > li {
  display: inline-block;
  *display: inline;
  float: none;
  vertical-align: top;
  *zoom: 1;
}

.navbar .nav {
  position: absolute;
  right: 0;
  left: 0;
  margin: 24px 0;
}

@media (max-width: 767px) {
  .navbar .nav {
    display: none;
  }
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  padding: 0 15px 0px 15px;
  font-size: 13pt;
  font-weight: normal;
  -webkit-text-shadow: none;
     -moz-text-shadow: none;
       -o-text-shadow: none;
          text-shadow: none;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 0;
  margin-left: 6px;
}

.navbar .container {
  width: 100%;
}

.navbar.white {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar.white .brand {
  background-image: url("../img/logo-black-compressed.png");
}

@media (max-width: 480px) {
  .navbar.white .brand {
    background-image: url("../img/logo-black-small-compressed.png");
  }
}

.navbar.white a,
.navbar.white a:hover,
.navbar.white a:focus {
  color: #404040 !important;
}

.navbar.white .github-button {
  background-image: url("../img/github-black-compressed.png");
}

.navbar.white .linkedin-button {
  background-image: url("../img/linkedin-black-compressed.png");
}

.navbar.white .twitter-button {
  background-image: url("../img/twitter-black-compressed.png");
}

.navbar.blue {
  background-color: rgba(0, 91, 196, 0.3);
}

.navbar.marine {
  background-color: rgba(95, 144, 192, 0.3);
}

.navbar.black {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar.blue .brand,
.navbar.marine .brand,
.navbar.black .brand {
  background-image: url("../img/logo-white-compressed.png");
}

@media (max-width: 480px) {
  .navbar.blue .brand,
  .navbar.marine .brand,
  .navbar.black .brand {
    background-image: url("../img/logo-white-small-compressed.png");
  }
}

.navbar.blue a,
.navbar.marine a,
.navbar.black a,
.navbar.blue a:hover,
.navbar.marine a:hover,
.navbar.black a:hover,
.navbar.blue a:focus,
.navbar.marine a:focus,
.navbar.black a:focus {
  color: white !important;
}

.navbar.blue .github-button,
.navbar.marine .github-button,
.navbar.black .github-button {
  background-image: url("../img/github-white-compressed.png");
}

.navbar.blue .linkedin-button,
.navbar.marine .linkedin-button,
.navbar.black .linkedin-button {
  background-image: url("../img/linkedin-white-compressed.png");
}

.navbar.blue .twitter-button,
.navbar.marine .twitter-button,
.navbar.black .twitter-button {
  background-image: url("../img/twitter-white-compressed.png");
}

.navbar.blue .github-button:hover,
.navbar.marine .github-button:hover {
  background-image: url("../img/github-black-compressed.png") !important;
}

.navbar.blue .linkedin-button:hover,
.navbar.marine .linkedin-button:hover {
  background-image: url("../img/linkedin-black-compressed.png") !important;
}

.navbar.blue .twitter-button:hover,
.navbar.marine .twitter-button:hover {
  background-image: url("../img/twitter-black-compressed.png") !important;
}

/* /NAVIGATION */

/* PAGES-GENERAL */

.page .container,
.modal-overlay .container {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.page .container > h1,
.modal-overlay .container > h1,
.page .container > h2,
.modal-overlay .container > h2,
.page .container > .h2,
.modal-overlay .container > .h2,
.page .container > h3,
.modal-overlay .container > h3 {
  margin-right: 5%;
  margin-left: 5%;
  line-height: 90%;
}

.page h1,
.modal-overlay h1 {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  font-family: 'DIN UltraLight', sans-serif;
  font-size: 64pt;
  font-style: italic;
  font-weight: normal;
}

.page h2,
.modal-overlay h2,
.page .h2,
.modal-overlay .h2 {
  font-family: 'DIN Light', sans-serif;
  font-size: 20pt;
  font-style: italic;
  font-weight: normal;
  line-height: 125%;
}

@media (max-width: 480px) {
  .page h1,
  .modal-overlay h1 {
    font-size: 50pt;
  }
}

/* /PAGES-GENERAL */

.modal-overlay {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 1040;
  max-width: 900px;
  margin-left: -450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 50px 0px #000000;
     -moz-box-shadow: 0px 0px 50px 0px #000000;
          box-shadow: 0px 0px 50px 0px #000000;
}

@media (max-width: 1000px) {
  .modal-overlay {
    display: none !important;
  }
}

.modal-overlay .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-overlay .row * {
  text-align: center;
}

/* PAGE-CUSTOMIZATION */

/* PAGE #1 */

.page#page1 {
  color: white;
  background-attachment: absolute;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-width: 981px) {
  .page#page1 {
    background-image: url("../img/backgrounds/page1-compressed-1600.png");
  }
}

@media (max-width: 980px) {
  .page#page1 {
    background-image: url("../img/backgrounds/page1-compressed-980.png");
  }
}

@media (min-width: 1199px) {
  .page#page1 {
    background-position: 60% -35px;
    background-size: 110% auto;
  }
}

@media (max-width: 980px) {
  .page#page1 {
    background-position: 50% -15px;
    background-size: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 480px) {
  
}

/* PAGE #2 */

.page#page2 {
  color: white;
  background: #0067dd;
  background: -moz-radial-gradient(center, ellipse cover, #0067dd 0%, #005bc4 50%);
  background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%, #0067dd), color-stop(50%, #005bc4));
  background: -webkit-radial-gradient(center, ellipse cover, #0067dd 0%, #005bc4 50%);
  background: -o-radial-gradient(center, ellipse cover, #0067dd 0%, #005bc4 50%);
  background: -ms-radial-gradient(center, ellipse cover, #0067dd 0%, #005bc4 50%);
  background: radial-gradient(ellipse at center, #0067dd 0%, #005bc4 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0067dd', endColorstr='#005bc4', GradientType=1);
}

.page#page2 .row-of-icons {
  margin-bottom: 1em;
  text-align: center;
}

.page#page2 .row-of-icons span {
  display: block;
  padding-top: 1em;
  margin: 0;
  clear: left;
  font-family: 'DIN Light', sans-serif;
  font-size: 20pt;
}

.page#page2 .row-of-icons .understandable-icon img {
  margin-top: 26px;
  margin-bottom: 0;
}

.page#page2 .row-of-icons .practical-icon img {
  margin-top: 73px;
  margin-bottom: 16px;
}

.page#page2 .row-of-icons .valuable-icon img {
  margin-top: 60px;
  margin-bottom: 11px;
}

.page#page2 .row-of-icons .plus-icon img {
  margin-top: 115px;
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  .page#page2 .row-of-icons .understandable-icon img,
  .page#page2 .row-of-icons .practical-icon img,
  .page#page2 .row-of-icons .valuable-icon img {
    margin: 1em;
  }
  .page#page2 .row-of-icons span {
    padding-top: 0;
  }
  .page#page2 .row-of-icons .plus-icon img {
    margin: 2em 0;
  }
}

/* PAGE #3 */

.page#page3 {
  color: white;
  background-attachment: absolute;
  background-color: black;
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-size: 120%;
}

@media (min-width: 981px) {
  .page#page3 {
    background-image: url("../img/backgrounds/page3-compressed-1600.png");
  }
}

@media (max-width: 980px) {
  .page#page3 {
    background-image: url("../img/backgrounds/page3-compressed-980.png");
  }
}

.page#page3 h2 {
  margin-bottom: 1em;
}

/* PAGE #4 */

.page#page4 {
  color: white;
  background-attachment: absolute;
  background-color: #5f90c0;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 981px) {
  .page#page4 {
    background-image: url("../img/backgrounds/page4-compressed-1600.png");
  }
}

@media (max-width: 980px) {
  .page#page4 {
    background-image: url("../img/backgrounds/page4-compressed-980.png");
  }
}

.page#page4 .container {
  padding-top: 10em;
}

.page#page4 h2 {
  margin-bottom: 1em;
}

.page#page5 .person {
  margin-bottom: 1em;
  clear: both;
}

.page#page5 .person .clearfix {
  clear: both;
}

.page#page5 .person a,
.page#page5 .person p {
  font-family: 'DIN Light', sans-serif;
}

.page#page5 .person .social-button {
  display: inline-block;
  margin-top: 0.2em;
}

.page#page5 .person img.profile {
  display: inline-block;
  float: left;
  margin-right: 1em;
}

@media (max-width: 767px) {
  .page#page5 .person img.profile {
    display: block;
    float: none;
    margin: 0 auto 1em auto;
  }
  .page#page5 .person p {
    clear: both;
  }
}

.page#page5 .person .person-link {
  position: relative;
  top: -70px;
}

/* PAGE #6 */

.page#page6 {
  color: black;
  background-attachment: absolute;
  background-color: #FFFFFF;
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 981px) {
  .page#page6 {
    background-image: url("../img/backgrounds/page6-compressed-1600.png");
  }
}

@media (max-width: 980px) {
  .page#page6 {
    background-image: url("../img/backgrounds/page6-compressed-980.png");
  }
}

.page#page6 a {
  font-family: 'DIN Light', sans-serif;
}

.page#page6 a:hover {
  color: #0067dd !important;
}

/* /PAGE-CUSTOMIZATION */

body {
  /*padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

}
